@inherits LayoutComponentBase

<div class="page">
	<main>
		<article class="content px-0 FullSidebar">
			@Body
		</article>
	</main>
</div>

<style>
	.FullSidebar
	{
		/*margin-left : -30px;
		margin-right : -30px;*/
	}
</style>